<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.mac-ruchey</string>
	<key>CFBundleName</key>
	<string>mac-ruchey</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>KLInfo_Russian (engineering, EN)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mac-ruchey.russian(engineering,en)</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Russian (engineering, RU)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mac-ruchey.russian(engineering,ru)</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
</dict>
</plist>
